.signup-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:900px;
    font-family: 'Baloo 2', cursive;
}

#background_image {
    position: fixed; /* Ảnh nền cố định khi cuộn */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Chiều cao toàn màn hình */
    background-image: url('/public/assets/images/background.jpg');
    background-size: cover; /* Ảnh tự co giãn để phủ toàn màn hình */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    z-index: -1; /* Đưa ảnh xuống dưới */
}

.signup-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top:200px;
}

.signup-box h2 {
    margin-bottom: 20px;
}

.signup-box label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.signup-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.signup-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
}

.signup-button:hover {
    background-color: #218838;
}

.facebook-signup {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #3b5998;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
}

.facebook-signup:hover {
    background-color: #2d4373;
}

.signup-box a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

.signup-box a:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .signup-box {
        width: 90%;
        padding: 20px;
    }
}