.pagetitle {
    position: relative;
    font-family: 'Baloo 2', cursive;
    font-size:xx-large;
    margin-top: 150px;
    margin-left: 135px;
    font-weight: 800;
}

header {
    position:sticky;
    top:0;
    z-index: 1000;
}
